.WeatherApp form {
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  padding-bottom: 30px;
}

.WeatherApp .search-input {
  background: #f8f2e7;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.WeatherApp .btn {
  background: #b6097c;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border-radius: 5px;
  height: 50px;
  width: 120px;
}

.WeatherApp .btn:hover {
  background: palevioletred;
  color: pink;
  cursor: pointer;
}

.WeatherApp .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.WeatherApp h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #272142;
}

.WeatherApp ul {
  margin: 0;
  padding: 0;
}

.WeatherApp li {
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.WeatherApp li strong {
  color: #00a6a6;
  font-weight: normal;
}

.WeatherApp .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  margin-left: 5px;
  font-weight: 200;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 1;
}

.WeatherApp canvas {
  margin: 10px 0;
}

.WeatherApp .unit {
  color: rgb(33, 33, 33);
  font-size: 28px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}
/*.WeatherInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}*/

.WeatherApp footer a {
  color: #0077b6;
}

.WeatherApp footer {
  font-size: 14px;
  margin-top: 40px;
  line-height: 18px;
  text-align: center;
  color: rgba(23, 18, 44, 0.926);
}

.icon {
  display: flex;
  justify-content: center;
}

.WeatherForecast {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
